
body{background-color:#6fb413;
    }
h1{
    color:white;
font-size:60px;}
p{
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    display:flex;
    justify-content: center;
    font-size:50px;
    text-decoration: underline;
  text-decoration-thickness: 2px;
}

input{
    display:flex;
    justify-content: center;
    font-size:100px;
    margin: auto;
width: 500px;
    }
    button{
        font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
        display: flex;
        justify-content: center;
        background-color: rgba(232, 248, 0, 0.918);
        font-size: 60px;
        width:250px;
        padding:5px;
margin: auto;
    }
    img{
        display: flex;
        justify-content: center;
        width: 600px;
        margin: auto;
    }
.pic{
   display: flex;
   justify-content:
    display:inline-block;
    margin: auto;
}
.pic img{
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
}
.text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -140%);
}
